body {
    background-color: #222831 !important;
    font-family: "Roboto";
}

/*----------------------------------------------------------------
                            HERO CSS
-----------------------------------------------------------------*/

.hero {
    margin-top: 2rem;
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
}

.hero-content {
    margin-left: 20px;
}

.hero-header {
    color: #5A9B31;
}

.hero-text {
    color: #393e46;
}

.hero-links {
    filter: invert(22%) sepia(10%) saturate(657%) hue-rotate(178deg) brightness(94%) contrast(89%);
}

.hero-links:hover {
    filter: invert(81%) sepia(25%) saturate(998%) hue-rotate(46deg) brightness(85%) contrast(90%);
}

/*----------------------------------------------------------------
                            EDUCATION CSS
-----------------------------------------------------------------*/
.education {
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
}

.education-title {
    color: #5A9B31;
}

.education-location {
    color: #7bc74d;
}

.education-content{
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%) !important;
}